/* http://meyerweb.com/eric/tools/css/reset/ 
   v2.0 | 20110126
   License: none (public domain)
*/

html, body, div, span, applet, object, iframe,
h1, h2, h3, h4, h5, h6, p, blockquote, pre,
a, abbr, acronym, address, big, cite, code,
del, dfn, em, img, ins, kbd, q, s, samp,
small, strike, strong, sub, sup, tt, var,
b, u, i, center,
dl, dt, dd, ol, ul, li,
fieldset, form, label, legend,
table, caption, tbody, tfoot, thead, tr, th, td,
article, aside, canvas, details, embed, 
figure, figcaption, footer, header, hgroup, 
menu, nav, output, ruby, section, summary,
time, mark, audio, video {
	margin: 0;
	padding: 0;
	border: 0;
	font-size: 100%;
	font: inherit;
	vertical-align: baseline;
}
/* HTML5 display-role reset for older browsers */
article, aside, details, figcaption, figure, 
footer, header, hgroup, menu, nav, section {
	display: block;
}
body {
	line-height: 1;
}
ol, ul {
	list-style: none;
}
blockquote, q {
	quotes: none;
}
blockquote:before, blockquote:after,
q:before, q:after {
	content: '';
	content: none;
}
table {
	border-collapse: collapse;
	border-spacing: 0;
}


/*custom*/

.container{
    width: 80%;
    margin: 0 10%;
}
.flex{
    display: flex;
    justify-content: space-between;
    text-align: center;
}
body{
    font-family: Karla;
}
h1,h2,h3,h4,h5,h6{
    font-family: 'DM Serif Display', serif;
}

/*header*/
header{
    background-color: white;
    margin-top: 10px;
    margin-bottom: ;
    vertical-align: super;
    line-height: 50px;
}
h1{
    text-transform: capitalize;
    font-size: xx-large;
    color: #2D2640;
    word-spacing: -5px;
    letter-spacing: -1px;
    font-weight: 500;
    text-shadow: 0.5px 0 0.5px #2D2640;
}
a{
    text-decoration: none;
    text-transform: uppercase;
    margin-left: 20px;
    color: #A2A0A6;
    font-size: 18px;
    font-weight: 900;
    filter: opacity(75%);
    filter: blur(80%);
}
.btn{
    border: 0.5px solid #2D2640;
    padding: 10px;
    border-radius: 5px;
}
/*main*/

/*section1*/
.section1{
    background-color: #2D2640;
    width: 100%;
    height: 450px;
}
.col1{
    width: 50%;
    text-align: left;
}
.col1 img{
    width: 90%;
    margin: 8%;
}
.col1 hr{
    margin-right: 370px;
    margin-top: 60px;
    margin-bottom: 40px;
    color: #666272;
}
h2{
    font-size: 55px;
    font-weight: 500;
    text-transform: capitalize;
    line-height: 1.4;
    color: whitesmoke;
    margin-bottom: 10px;
}
.col1 p{
    font-size: 15px;
    margin-bottom: 40px;
    color: lightgrey;
    margin-right: 30px;
}
.col1 a{
    color: white;
    border-color: white;
    margin-left: 0;
    margin-top: 20px;
    padding: 10px;
}

/*section2*/
.section2{
    margin-top: 100px;
}
.section2 h3{
    margin-top: 100px;
    color: #2D2640;
    font-size: 40px;
    text-transform: capitalize;
    font-weight: 500;
    margin-left: 30px;
}
.section2 p{
    color: #A2A0A6;
    font-size: 20px;
    line-height: 1.5;
    margin-top: 15px;
    margin-bottom: 40px;
    margin-left: 30px;
    margin-right: 0;
}
.section2 img{
    margin-left: 0;
}
.section2 a{
    margin-left: 30px;
    color: #2D2640;
    border-color: #A2A0A6;
}

/*section3*/

.section3 hr{
    margin-top: 100px;
    width: 130px;
    color: #A2A0A6;
    margin-left: 0;
    margin-bottom: 30px;
}
.section3 h3{
    font-size: 40px;
    color: #2D2640;
    margin-top: 0;
    text-align: left;
    margin-bottom: 50px;
    margin-left: 0;
    text-transform: initial;
}
.col3{
    width: 28%;
    text-align: left;
}
.col3 a{
    padding: 5px;
    color: #2D2640;
    background-color: 8AB4F0;
    border-radius: 50%;
    border: 1px solid black;
}
.section3 i{
    padding: 9px;
    border-radius: 50%;
    border: 1px solid #2D2640;
    background-color: #8AB4F0;
    margin-bottom: 20px;
}
.section3 h4{
    font-size: x-large;
    text-transform: capitalize;
    word-spacing: -1px;
    margin-bottom: 15px;
    color: #2D2640;
    letter-spacing: -2px;
    font-weight: 600;
    font-family: ;
}

/*bottom*/

.bottom{
    margin-top: 100px;
    width: 80%;
    height: 200px;
    background-color: #2D2640;
    vertical-align: center;
    margin-bottom: 50px;
}
.bottom h5{
    font-size: 40px;
    color: white;
    margin-top: 40px;
    margin-left: 60px;
    text-align: left;
    line-height: 1.7;
    font-family: 'DM Serif Display', serif;
}
.bottom a{
    color: white;
    margin-right: 40px;
    margin-top: 70px;
    margin-bottom: 70px;
    border: 2px solid white;
    border-radius: 5px;
    padding: 20px;
}

/*section5*/

.section5 h6{
    text-transform: capitalize;
    font-size: xx-large;
    color: #2D2640;
    word-spacing: -5px;
    letter-spacing: -1px;
    font-weight: 500;
    text-shadow: 0.5px 0 0.5px #2D2640;
    font-family: 'DM Serif Display', serif;
}
.section5 a{
    margin-left: 20px;
    color: #6A6970;
    font-size: 30px;
    border-radius: 10px;
}
.section5 hr{
    margin-bottom: 20px;
}
.section5 nav{
    text-align: center;
    margin-bottom: 20px;
}
.section5 .nav{
    font-size: 15px;
    color: #2D2640;
    text-align: center;
}

/*footer*/

footer{
    background-color: #2D2640;
    padding: 20px;
    text-align: center;
    text-transform: capitalize;
    color: #6A6970;
}